<!DOCTYPE html>
<html>
    <head>
        <title>
            thirumala tifen center 
        </title>
    </head>
    <link rel="stylesheet" href="venky.css">
    <body> 
    <p class="venkatesh" 
    id="123455">
      

    </p>
      <h1>good</h1> 
      <h2>good</h2>
      <h3>good</h3>
      <h4>good</h4>
      <h5>good</h5>
      <h6>good</h6>
      <p>sdfsvhctdjjvctgvgikjug
    <img src="https://t4.ftcdn.net/jpg/01/43/49/27/360_F_143492736_QgCfB0XKHtZpfGlIb1hr3M6mGCepcDVs.jpg"></p>
      <ul>
        <li>good  very good dsdsgsj </li>
        <li>hdbgtchc</li>
        <li>bjggs</li>
      </ul>
    </body> <table> <thead> hotel</thead>
        <tr>
            <th>items</th>
            <th>price</th>
        </tr> 
        <tr><td>idli</td>
        <td>10</td></tr><thead>hotel list 

        </thead>
        
    </table><div> <h1><img src="" alt="https://t4.ftcdn.net/jpg/01/43/49/27/360_F_143492736_QgCfB0XKHtZpfGlIb1hr3M6mGCepcDVs.jpg
      "></h1></div>
</html>